<!DOCTYPE html>
<html lang="CN-zh">
<head>
    <link type="shortcut icon" herf="">
    <meta charset="utf-8">
    <title></title>
    <!-- 请记得加title 蟹蟹 -->
</head>
<body id="index">
    <div id="container" hidden>
    <!-- main part -->
        <p id="lastTimeEdited">本页最后编辑于2024年10月31日</p>
    </div>
    <div id="manu">
        <a href="assets/web/" title="主页">
            <img id="icon" src="assets/image/icon.png" alt="主页图标">
        </a>
    <div id="links">
        <a href="assets/web/contributors.html">🎈贡献者名单</a>
    </div>
</div>
</body>
<style>
    @import url("./assets/css/text.css");
    @import url("./assets/css/image.css");
    @import url("./assets/css/div.css");
</style>
<script src="./assets/js/main.js"></script>
</html>