#manu {
    z-index: 4;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 1rem;
    border: 2px solid #ffffff;
}
#manu div{
    display: none;
    padding: 0.5rem;
}
#manu a{
    padding: 0.5rem;
}
#manu:hover div{
    display: block;
}