#manu {
    z-index: 4;
    position: fixed;
    filter: blur(5px);
    right: 0px;
    bottom: 0px;
    padding: 1rem;
}
#manu div{
    display: none;
}
#manu a{
    padding: 1rem;
}
#manu:hover div{
    display: block;
}