* {
    padding: 0px;
    margin: 0px;
}
/**/
p, li, a {
    font-family: system-ui;
    margin-block: 0.5em;
    font-size: larger;
}
ul {
    padding: 0 0 0 1.5rem;
}
a {
    text-decoration: none;
    color: rgb(0, 89, 255);
}
tr {
    border: 1px solid rgba(130, 130, 130, 0.2);
}
code {
    width: fit-content;
    font-size: 2rem;
    padding: .25rem;
    font-family: system-ui;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    height: 2rem;
}
/**/
.subTitle {
    padding: 1rem 0.5rem 1rem 0;
    font-size: 2rem;
    font-weight: 450;
}
.notes {
    font-size: medium;
}
.middle{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
/**/
#lastTimeEdited {
    padding: 1rem 0 0 0.5rem;
}
#wellcome {
    font-size: 5rem;
}
#createdTime {
    font-size: 2rem;
}
@keyframes disAppear {
    0%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
@keyframes flat {
    0%{
        height: 100vh;
    }
    100%{
        height: 0vh;
    }
}